.container {
    width: $min-width;
    margin: 0 auto;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

img {
    width: 100%;
    height: 100%;
}

.fr {
    float: right;
}